In [1]:
import numpy as np
import pandas as pd
from src.main import abcd

rank = pd.read_csv('rank.csv')

rank

         W     Q
0        0     0
1        1     1
2        2     2
3        3     4
4        4     8
...    ...   ...
1019  1019  1015
1020  1020  1019
1021  1021  1021
1022  1022  1022
1023  1023  1023

[1024 rows x 2 columns]

In [2]:
seq = rank.iloc[1:,0].to_numpy()
seq

array([   1,    2,    3, ..., 1021, 1022, 1023], shape=(1023,))